---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/328328?apikey=sAFC1VKL7m1IcSZrKCQhboOyQIaiI4wv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '11'
      Akamai-Grn:
      - 0.340cde17.1725125301.168b8d7f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-31T18:07:00+01:00","EpochTime":1725124020,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":18.0,"Unit":"C","UnitType":17},"Imperial":{"Value":64.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/gb/london/ec4a-2/current-weather/328328?lang=en-us","Link":"http://www.accuweather.com/en/gb/london/ec4a-2/current-weather/328328?lang=en-us"}]'
  recorded_at: Sat, 31 Aug 2024 17:28:22 GMT
recorded_with: VCR 6.3.1
