---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/328328/historical/24?apikey=7RbhQXYB6cLYiB0Y2wvxSZZmZgCujUD1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '46'
      Akamai-Grn:
      - 0.167c3a17.1725130992.1a55d703
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-31T19:01:00+01:00","EpochTime":1725127260,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":18.5,"Unit":"C","UnitType":17},"Imperial":{"Value":65.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/gb/london/ec4a-2/current-weather/328328?lang=en-us","Link":"http://www.accuweather.com/en/gb/london/ec4a-2/current-weather/328328?lang=en-us"},{"LocalObservationDateTime":"2024-08-31T18:02:00+01:00","EpochTime":1725123720,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":18.7,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/gb/london/ec4a-2/current-weather/328328?lang=en-us","Link":"http://www.[...]
